.dropzone {
    border: dotted 3px lightgray !important;
    background-color: #F5F5F5;
    padding: 20px !important;

    &._over {
        border: dotted 3px red !important;
    }
}

._overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
}